@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,900&display=swap'); 

*{
	font-family: 'Lato', sans-serif;
}
body{
	min-height: 100vh !important;
	width: 100vw !important;
	position: absolute;
}
/* .container{
	position: absolute;
	top: 0;
	;
	
} */
.header{
	
	background-color: brown !important;
	color: whitesmoke;
	padding: 10px 20px;
	margin-top: 0 !important;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	
}


h1,h2,h3,h4,h5{
	font-weight: bold;
	

}

.note-count{
	display: inline-block;
	padding: 5px 10px;
	background-color: blue;
	border-radius: 4px;
	color: whitesmoke;
}