.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  top: -100%;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  transition: top 100ms ease-in-out;
}

.modal > div {
  background-color: whitesmoke;
  width: 90%;
  padding: 20px;
  max-height: 90%;
  height: min-content;
  overflow: auto;
  max-width: 500px;
  border-radius: 10px;
}
.modal.show {
  top: 0;
}
